* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}
body {
  background-color: #f3f4f6;
  color: #111;
  overflow: hidden;
}

/* Top Navigation */
nav {
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-weight: bold;
  color: #1da1f2;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Profile & Dropdown Area */
.profile-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  position: relative;
}

.profile-trigger {
  width: 40px;
  height: 40px;
  background: #ccd6dd;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}
.profile-trigger:hover {
  border-color: #1da1f2;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: none; /* Hidden by default */
  flex-direction: column;
  overflow: hidden;
}

.dropdown-menu.active {
  display: flex;
}

.dropdown-item {
  padding: 12px 16px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}
.dropdown-item:hover {
  background: #f5f8fa;
  color: #1da1f2;
}
.divider {
  height: 1px;
  background: #eee;
}

/* Main Home Container */
.home-container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  min-height: 100vh;
  border-radius: 8px;
  border: 1px solid #e1e8ed;
}

.container{
  background: white;
  width: 80%;
  min-height: 100vh;
  border-radius: 8px;
  border: 1px solid #e1e8ed;
}

.feed-header {
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid #eee;
}

.post-mock {
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.line {
  height: 10px;
  background: #e1e8ed;
  margin-bottom: 10px;
  border-radius: 5px;
}
.line.short {
  width: 40%;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #1da1f2;
    color: white;
    cursor: pointer;
}

.createPostBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -110%;
    left: 0;
    width: 100%;
    height: 100%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 100;
    transition: 1s;
}
.createPostBox.active{
  top: 0%;
}
